
/* Selector Universal */
* {

padding: 0;
margin: 0;

}
 /* selector id */
#contenedor{

    width: 1200px;
    height: 1000px;
     background-color: rgba(0, 255, 255, 0.642);
     max-width: 0 auto;

}
#encabezado{
    height: 15%;
    background-color: bisque;
    margin: 1em auto;
    text-align: center;
    


}
#menu{
height: 5%;
background-color: rgb(86, 130, 201);
margin: 1em auto;


}

#contenido{
height: 70%;
width: 61%;
background-color: cadetblue;
margin: 0.5em;
float: left;


}

#fueraSeccion{
height: 70%;
width: 36%;
background-color: rgb(97, 193, 161);
margin: 0.5em;
float: right;

}
    #pie{
    height: 2%;
    background-color: gray;
    border-radius: 1em;
    margin: 1.5 em;

}


/* selector de clase */

.texto{


    text-align: justify;
    font-family: Tohoma;
    font-size: medium;
    margin-left: 1em;
    margin-right: 1em;
}


.encabezado_articulo{

    text-align: center;
    background: rgb(92, 144, 192);
    color: white;
    margin: auto 2em;

}

.imagen{
    display: block;
    border: 1px solid #ddd;
    margin: auto;
    border-radius: 4px;
    padding: 5px;
    max-width: 10rem;

}

    /* selector de Etiqueta html */

    ul{

        text-align: center;
    
    }

    li{
        margin: auto 2em;
        display: inline;
        padding-left: 6px;
        padding-right: 6px;
        text-align: center;
    }

